<div class="card shadow">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="button" class="btn btn-secondary mr-2 mt-4" (click)="hideShow($event)">
        {{ showAddressPanel ? 'Remove Address' : 'Add Address' }}
      </button>
      
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary ml-2">Submit</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="form.reset()">Reset</button>
      </div>
    </form>
  </div>
</div>